<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>Text Analyzer 2023</title>
</head>
<body style="text-align:center"><font size="+5">
    WELCOME TO THE TEXT ANALYZER WHICH HAS BEEN MADE BY KOUSHIK CHAKRABORTY</font><br><br><br>
<form action='analyse/' method='get'>
    <textarea name="word" style='width: 1342px; height: 150px;'>
    </textarea><br>
    <input type="checkbox" name="removepunc" align="center"><font size="+3">Remove puntuations</font><br>
    <input type="checkbox" name="fullcaps" align="center"><font size="+3">Capitalise the sentence</font><br>
    <input type="checkbox" name="newlineremover" align="center"><font size="+3">Remove new lines</font><br>
    <input type="checkbox"  align="center"><font size="+3">Count the number of characters</font><br>
    <input type="checkbox" name="spaceremover" align="center"><font size="+3">Remove Whitespaces</font><br><br>
    <button style="text-align:center" value="Submit here" type="Submit"><font size="+3">Analyze text</font></button>
</form>

</body>
</html>